@font-face {
  font-family: 'JosefinSans';
  src: url(/src/assets/fonts/JosefinSans-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'JosefinSans';
  src: url(/src/assets/fonts/JosefinSans-Bold.ttf) format('truetype');
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'JosefinSans', monospace;
}