$bg-color: #a9bcd0;
$main-color: #373f51;
$accent-color: #fb9966;
$radius: 20px;

@mixin desktop {
  @media (min-width: 48rem) {
    @content;
  }
}

@font-face {
  font-family: 'JosefinSans';
  src: url(/src/assets/fonts/JosefinSans-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'JosefinSans';
  src: url(/src/assets/fonts/JosefinSans-Bold.ttf) format('truetype');
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  color: $main-color;
  line-height: 1.25;
}

h1 {
  font-family: 'JosefinSans', monospace, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  padding: 0.75rem;
  color: $main-color;
  border-radius: $radius / 2;
}

button {
  border: none;
  cursor: pointer;

  &:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-1px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  }
}