$bg-color: #a9bcd0;
$main-color: #373f51;
$accent-color: #fb9966;
$radius: 20px;

@mixin desktop {
  @media (min-width: 48rem) {
    @content;
  }
}

@font-face {
  font-family: 'JosefinSans';
  src: url(/src/assets/fonts/JosefinSans-Bold.ttf) format('truetype');
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  color: $main-color;
  line-height: 1.25;
  outline: 1px solid salmon;
}

h1 {
  font-family: 'JosefinSans', monospace, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  color: $main-color;
  border-radius: $radius / 2;
}

button {
  padding: 0.75rem 2rem;
  border: none;
  cursor: pointer;

  &:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-1px);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  }
}

input {
  padding: 0.75rem;
  border: 1px solid $main-color;

  &:focus {
    outline-color: $main-color;
  }
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
  background-color: $bg-color;
}

main {
  width: 80vw;

  >img.hero {
    display: none;
  }

  >* {
    flex: 1 1 50%;
  }
}

.interaction-section {

  >h1 {
    text-align: center;
  }

  >.action-area {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 2rem;

    >.action__btn {
      align-self: center;
      background-color: $accent-color;
    }
  }

  >.result-area {
    visibility: hidden;
  }
}